<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Monte sua Prancha</title>
  <link rel="stylesheet" href="/static/style/edit_darkmode.css">
  <link rel="stylesheet" href="/static/style/personaliza.css">
</head>
<body>
    <header>
        <div class="main">
            <a href="/index.html"><img src="/static/img/logo.png" alt="voltar logo"></a>
            <button onclick="alternarModoEscuro()">alternar Modo Escuro</button>
        </div>
    </header>
    <section class="custom-board">
        <h1>Monte sua Prancha</h1>
        <form id="customForm">
        <label>Formato:
            <select name="shape" id="shape">
            <option>Shortboard</option>
            <option>Longboard</option>
            <option>Fish</option>
            </select>
        </label>

        <label>Tamanho:
            <input type="text" id="size" placeholder="Ex: 6'2">
        </label>

        <label>Cor:
            <input type="color" id="color">
        </label>

        <label>Nome na prancha:
            <input type="text" id="customName" placeholder="Seu nome">
        </label>

        <label>Quilhas:
            <input type="checkbox" id="fins"> Incluir
        </label>

        <button type="button" onclick="previewBoard()">Visualizar</button>
        </form>

        <div class="preview" id="previewArea"></div>
    </section>

  <script src="/static/script/personaliza.js"></script>
  <script src="/static/script/modo_escuro.js"></script>
</body>
</html>
