<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Produtos</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style/edit_darkmode.css">
    <link rel="stylesheet" href="/static/style/produtos.css">
    <link rel="stylesheet" href="/static/style/responsive.css">
</head>
<body>
    <header>
        <div class="main">
            <a href="/index.html"><img src="/static/img/logo.png" alt="voltar logo"></a>
            <h1 class="titulo">Produtos</h1>
            <button onclick="alternarModoEscuro()">alternar Modo Escuro</button>
        </div>
    </header>
    <main>
        <div class="cards">
            <div class="card">
                <img src="/static/img/card_1.png" alt="Prancha 1">
                <p class="nome">Prancha Estilo Oceano</p>
                <p class="descricao">Design com ondas brancas e fundo azul, ideal para quem busca estilo e equilíbrio.</p>
                <h3>R$ 999,99</h3>
                <button class="botao-comprar">Comprar</button>
            </div>
            <div class="card">
                <img src="/static/img/card_2.png" alt="Prancha 2">
                <p class="nome">Prancha Azul Clássica</p>
                <p class="descricao">Mistura de curvas suaves e performance ideal para iniciantes.</p>
                <h3>R$ 999,99</h3>
                <button class="botao-comprar">Comprar</button>
            </div>
            <div class="card">
                <img src="/static/img/card_3.png" alt="Prancha 3">
                <p class="nome">Prancha Pro Style</p>
                <p class="descricao">Modelo usado por profissionais, com ótima estabilidade e visual moderno.</p>
                <h3>R$ 999,99</h3>
                <button class="botao-comprar">Comprar</button>
            </div>
            <div class="card">
                <img src="/static/img/card_4.png" alt="Prancha 4">
                <p class="nome">Prancha Tribal</p>
                <p class="descricao">Textura de madeira com estampa tribal, leve e resistente.</p>
                <h3>R$ 999,99</h3>
                <button class="botao-comprar">Comprar</button>
            </div>
            <div class="card">
                <img src="/static/img/card_5.png" alt="Prancha 5">
                <p class="nome">Prancha Sunset</p>
                <p class="descricao">Cores vibrantes que remetem ao pôr do sol. Design exclusivo e autêntico.</p>
                <h3>R$ 999,99</h3>
                <button class="botao-comprar">Comprar</button>
            </div>
            <div class="card">
                <img src="/static/img/card_6.png" alt="Prancha 6">
                <p class="nome">Prancha Titanium</p>
                <p class="descricao">Design minimalista e aerodinâmico. Alta performance nas manobras.</p>
                <h3>R$ 999,99</h3>
                <button class="botao-comprar">Comprar</button>
            </div>
    </main>
    <script src="/static/script/modo_escuro.js"></script>
</body>
</html>