<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Produtos</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style/edit_darkmode.css">
</head>
<body>
    <header>
        <div class="main">
            <a href="/index.html"><img src="/static/img/logo.png" alt="voltar logo"></a>
            <button onclick="alternarModoEscuro()">alternar Modo Escuro</button>
        </div>
    </header>
    <main>
        
    </main>
    <script src="/static/script/modo_escuro.js"></script>
</body>
</html>