<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Produtos</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style/edit_darkmode.css">
    <link rel="stylesheet" href="/static/style/social.css">
</head>
<body>
    <header>
        <div class="main">
            <a href="/index.html"><img src="/static/img/logo.png" alt="voltar logo"></a>
            <button onclick="alternarModoEscuro()">alternar Modo Escuro</button>
        </div>
    </header>
    <main>
        <div class="section_cantato">
            <h1>CONTATO</h1>
            <a href="#" class="telefone_btn">📞 telefone</a>
            <a href="https://wa.me/5511941158235" class="whatsapp_btn">💬 whatsapp</a>
            <a href="#" class="email_btn">📧 email</a>
        </div>
    </main>
    <script src="/static/script/modo_escuro.js"></script>
    <script src="/static/script/alertas_social.js"></script>
</body>
</html>